
@{
    ViewBag.Title = "Tạo đơn nhập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-white rounded">
        <div class="form-group row p-3">
            <label class="control-label col-sm-2 h6">Tên nhân viên</label>
            <label class="control-label col-sm-4 h6" for="tenNV"></label>
            <label class="control-label col-sm-2 h6">Ngày</label>
            <label class="control-label col-sm-4 h6" for="ngay"></label>
        </div>
        <div class="form-group row p-3">
            <label class="control-label col-sm-2 h5" for="name">Tên sản phẩm</label>
            <div class="col-sm-10"><input type="text" class="form-control" name="name"></div>
        </div>

        <div class="form-group row p-3">
            <label class="control-label col-sm-2 h5" for="giaBan">Giá nhập</label>
            <div class="col-sm-4"><input type="number" class="form-control" name="giaNhap" readonly></div>

            <label class="control-label col-sm-2 h5" for="soLuong">Số lượng</label>
            <div class="col-sm-4"><input type="number" class="form-control" name="soLuong"></div>
        </div>

        <div class="form-group p-3 text-center">
            <button class="btn btn-light" style="background-color:#c1efde;">Thêm</button>
        </div>

        <table class="table w-full whitespace-no-wrap overflow-hidden rounded-lg shadow-xs border-b">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Tác vụ</th> 
            </tr>

            @*@foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class=""><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            }*@
        </table>

        <div class="form-group row p-3 d-flex justify-content-end">
            <label class="control-label col-sm-2 h5">Tổng tiền: </label>
            <label class="control-label col-sm-3 h5" for="tongTien">0</label>
        </div>

        <div class="form-group row p-3">
            <input type="button" class="btn btn-light" value="Tạo" style="background-color:#c1efde" />
        </div>
    </div>
}
