/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.ctsp {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#show-more {
    display: inline-block;
}

.box1 button {
    margin: 0 auto;
    background: transparent;
    border:1px solid #009d63;
    border-radius: 50px;
    color: #009d63;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
}

#show-less {
    display: none;
}

.boxnd {
    overflow: hidden;
    line-height: 1.5;
    transition: 0.5s ease-in-out;
}

.bg {
    transition: 0.5s ease-in-out;
    -webkit-mask-image: linear-gradient(#fff, rgba(255, 255, 255, 0.1));
}

.max-height {
    max-height: 150px;
}