  
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}
<link href="~/Content/css/GioHang.css" rel="stylesheet" />


    <div class="container mt-3">
        <h2>Giỏ hàng của bạn</h2>
        <table class="table table-striped">
            <thead style="text-align: center">
                <tr>
                    <th class="col-5">Sản phẩm</th>
                    @*<th class="col-">Ảnh Sản Phẩm</th>*@
                    <th class="col-2 text-end">Giá</th>
                    <th class="col-2">Số lượng</th>
                    <th class="col-2 text-end">Thành tiền</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">Chưa có sản phẩm ...</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <a href="@Url.Action("TrangChu","Home")">Tiếp tục mua hàng</a>
    </div>

