
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}
<body style="text-align:center; margin-top: 20px">

<h2>Chúc Bạn Một Ngày Tốt Lành</h2>
    <h3>bạn đã đặt hàng thành công! hàng sẽ sớm được giao</h3>
    <a class="btn btn-success" href="@Url.Action("TrangChu","Home")"> về trang chủ </a>
</body>
<script src="path/to/highlight.min.js"></script>