@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayoutPage</title>
    <link rel="stylesheet" href="~/Content/css/view.css" />
    <link rel="stylesheet" href="~/Content/css/viewLayoutPage.css" />
    <link rel="stylesheet" href="~/Content/css/SlideShow.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="__next" data-reactroot="">
        <div>
            <div>
                <div class="sc-5d37d5d1-0 eOTDMx">

                    <section class="ant-layout sc-3845af50-0 iHCnPJ" headerheight="158.8000030517578" id="main-wrapper">
                        <div>
                            <div id="page-header-section-id" class="sc-fa1f0234-0 iOCHGJ">
                                <div class="sc-17d37286-0 iKaoVr bg-dark-green">
                                    <div class="menu-content size-s scrollbar-hidden">
                                        <div class="menu-item">Giao hàng 24h - Giảm 15k đơn 299k - 50k cho đơn 399k</div>
                                        <div class="separator"></div>
                                        <div class="menu-item">50,000 VND = 1 Điểm</div>
                                        <div class="separator"></div>
                                        <div class="menu-item">Miễn phí tư vấn da</div>
                                    </div>
                                </div>
                                <div class="sc-67e8947b-0 idfepM">
                                    <div class="wrapper-container flex-center-between size-s">
                                        <button type="button" class="ant-btn ant-btn-text ant-btn-lg ant-btn-icon-only left-menu-bar mr-10">
                                            <span role="img" aria-label="menu" tabindex="-1" class="anticon anticon-menu">
                                                <svg viewBox="64 64 896 896" focusable="false" data-icon="menu" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                    <path d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                        <div class="logo-app">
                                            <a role="presentation" href="TrangChu" style="color: initial;">
                                                <div class="image-wrapper pointer">
                                                    <img alt="logo" loading="lazy" class="logo-img"
                                                         src="https://image.hsv-tech.io/300x0/tfs/common/2cdbd38f-08a1-42ab-83f5-16533a477428.webp" layout="responsive">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="header-right d-flex align-items-center">
                                            <div class="d-desktop input-wrapper">
                                                <div class="sc-fcb373ec-4 bQKRra ant-dropdown-trigger d-flex">
                                                    <span class="ant-input-affix-wrapper sc-fcb373ec-0 eWONFM" style="width: 1500px; left: -150px;">
                                                        <span class="ant-input-prefix">
                                                            <i class="fal fa-search" style="color: #858585;"></i>
                                                        </span>
                                                        <input class="ant-input" placeholder="Mặt nạ, kem chống nắng, kem dưỡng, son thỏi, sữa rửa mặt,..." type="text" value="" style="border: solid 1px gray; height: 35px; padding-left: 10px; padding-right: 10px; top: -5px;">
                                                        <span class=" ant-input-suffix">
                                                            <div class="sc-17e56e44-0 cRZrSE search-image-btn ">
                                                                <button type="button" class="ant-btn ant-btn-text btn-image btn-text-hover">
                                                                    <img src="https://thefaceshop.com.vn/images/scan-image.gif" alt="scan" width="30px" height="30px" loading="lazy" class="search-image-btn__lottie">
                                                                </button>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="menu-section menu-section-first left-menu">
                                                <a role="presentation" href="/stores" style="color: initial;">
                                                    <button type="button" class="ant-btn ant-btn-default btn-text-hover">
                                                        <span class="ant-badge">
                                                            <i class="fal fa-store" style="color: #000000;"></i>
                                                            <div class="title-section">
                                                                <div class="title">Hệ thống cửa hàng</div>
                                                                <div class="sub-title"></div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </a>
                                                <a role="presentation" href="/blogs" style="color: initial;">
                                                    <button type="button" class="ant-btn ant-btn-default btn-text-hover">
                                                        <span class="ant-badge">
                                                            <i class="fal fa-truck" style="color: #000000;"></i>
                                                            <div class="title-section">
                                                                <div class="title">Tra cứu đơn hàng</div>
                                                                <div class="sub-title"></div>
                                                            </div>
                                                        </span>
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="ant-divider ant-divider-vertical" role="separator"></div>
                                            <div class="menu-section right-menu">
                                                <button type="button" class="ant-btn ant-btn-default user-btn">
                                                    <span class="ant-badge">
                                                        <span class="size-xxl icon-ICLoginHeader "></span>
                                                        <div class="title-section">
                                                            <div class="title">Đăng nhập</div>
                                                        </div>
                                                    </span>
                                                </button>
                                                <button type="button" class="ant-btn ant-btn-default cart-btn">
                                                    <span class="ant-badge">
                                                        <a href="@Url.Action("ShowToCart", "ShoppingCart")"><i class="fal fa-shopping-cart " style="color: #000000;"></i></a>
                                                        
                                                        <sup data-show="true" class="ant-scroll-number ant-badge-count" title="1" style="background-color: rgb(0, 0, 0);">
                                                            <span class="ant-scroll-number-only" style="transition: none 0s ease 0s;">
                                                                <span class="ant-scroll-number-only-unit current position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>
                                                            </span>
                                                        </sup>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Thanh điều hướng-->
                                <nav class="navbar navbar-expand-lg navbar-light " style="left: 230px;">
                                    <div class="container-fluid">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="column-gap: 30px;">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Khuyến mãi
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="#">HOT DEAL THÁNG 12</a>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" href="#">Sản phẩm mới</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Trang điểm
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="/Home/DanhMuc/">trang điểm mặt</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Kem nền</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">kem lót</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Che khuyết điểm</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Phấn má hồng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">PHấn nước Cushion</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Phấn phủ</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Tạo khối - Highlighter</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Kem nền bb / cc cream</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">trang điểm môi</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Son thỏi</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Son tint | Son kem</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Son bóng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">son dưỡng môi</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">trang điểm mắt</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">mascara</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Kẻ chân mày</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Phấn mắt</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Kẻ viền mắt</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">phụ kiện trang điểm</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Cọ trang điểm</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Bống mút trang điểm</a></li>
                                                            <li><a class="dropdown-itenm text-capitalize" href="#">Bông cotton</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Phụ kiện trang điểm khác</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dưỡng da
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">dưỡng da mặt</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Nước cân bằng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Xịt khoáng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Sữa dưỡng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Tinh chất dưỡng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Kem dưỡng mắt</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">kem dưỡng da mặt</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">bộ dưỡng chăm sóc da</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Làm sạch</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Sữa rửa mặt</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">tẩy trang da mặt</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">tẩy trang mắt và môi</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">tẩy tế bào chết</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">phụ kiện làm sạch</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Mặt nạ</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Mặt nạ giấy</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">mặt nạ dưỡng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">mặt nạ mắt/môi</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">mặt nạ tay chân</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Chống nắng</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Kem chống nắng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">sáp chống nắng</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">sữa / Gel chống nắng</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Dưỡng da dành cho nam</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Phụ kiện chăm sóc da</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Giấy thấm dầu</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">bông cotton</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Miếng dán mụn / miếng lột đầu đen</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">dụng cụ chăm sóc da mặt</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Chăm sóc cơ thể
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Chăm sóc body</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Sữa tắm</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Dưỡng thể</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">làm sạch tế bài chết cơ thể</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">Phụ kiện chăm sóc cơ thể</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">nước hoa/xịt thơm body</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">chăm sóc tóc</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">Dầu gội - dầu xả</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">dưỡng tóc</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">tạo kiểu tóc</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-capitalize text-dark" href="#">Chăm sóc tay/chân</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            <li><a class="dropdown-item text-capitalize" href="#">kem dưỡng tay/chân</a></li>
                                                            <li><a class="dropdown-item text-capitalize" href="#">mặt nạ tay/chân</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" href="#">Quà tặng NEW MEMBER</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" href="#">Nhận mã ưu đãi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>


                        <!--Main-->
                        <main class="ant-layout-content" style="display: block">
                            @RenderBody()
                        </main>


                        <!--Footer-->
                        <div class="sc-d8ad3fc9-0 jGWmFK">
                            <footer class="ant-layout-footer mainFooter">
                                <div>
                                    <div class="sc-efa5c1d7-0 bmcGQ bg-dark-green">
                                        <div class="wrapper-container">
                                            <div class="ant-row news-section align-center">
                                                <div class="ant-col title-section text-left ant-col-xl-12">
                                                    <div class="title">NHẬN BẢN TIN LÀM ĐẸP</div>
                                                    <div class="sub-title">
                                                        Đừng bỏ lỡ hàng ngàn sản phẩm và khuyến mãi
                                                        siêu hấp dẫn
                                                    </div>
                                                </div>
                                                <div class="ant-col text-right ant-col-xl-12">
                                                    <span class="ant-input-affix-wrapper">
                                                        <input placeholder="Điền email của bạn" class="ant-input"
                                                               type="text" value="">
                                                        <span class="ant-input-suffix">
                                                            <button type="button"
                                                                    class="ant-btn ant-btn-default btn-subscribe">
                                                                <span>Đăng ký</span>
                                                            </button>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-container middle-footer">
                                        <div class="ant-row footer-row-content"
                                             style="margin-left: -12px; margin-right: -12px; row-gap: 24px;">
                                            <div class="ant-col ant-col-xs-24 ant-col-sm-12 ant-col-md-8 ant-col-lg-8"
                                                 style="padding-left: 12px; padding-right: 12px;">
                                                <a role="presentation" href="/" style="color: initial;">
                                                    <div class="footer-logo-wrapper mb-20">
                                                        <img alt="TheFaceShop" loading="lazy"
                                                             src="https://image.hsv-tech.io/0x120/tfs/common/93f420b6-ed0b-42fe-a32b-48f84aa87a47.webp"
                                                             layout="responsive">
                                                    </div>
                                                </a>
                                                <div class="footer__section-title">THEO DÕI CHÚNG TÔI TRÊN</div>
                                                <div class="ant-space ant-space-horizontal ant-space-align-center mb-20"
                                                     style="gap: 20px;">
                                                    <div class="ant-space-item" style="">
                                                        <a href="https://www.facebook.com/ThefaceshopVietnam"
                                                           target="_blank" rel="noreferrer">
                                                            <img alt="TheFaceShop" loading="lazy" height="25px"
                                                                 width="25px" class="footer-social__img"
                                                                 src="https://image.hsv-tech.io/0x60/bbx/common/d41b06c0-5ef5-46f4-ac1d-41aa955b23fb.webp"
                                                                 layout="responsive">
                                                        </a>
                                                    </div>
                                                    <div class="ant-space-item" style="">
                                                        <a href="https://www.instagram.com/THEFACESHOPVietnam"
                                                           target="_blank" rel="noreferrer">
                                                            <img alt="TheFaceShop" loading="lazy" height="25px"
                                                                 width="25px" class="footer-social__img"
                                                                 src="https://image.hsv-tech.io/0x60/bbx/common/d9884d82-b389-4c6f-beaa-429c032cb2c0.webp"
                                                                 layout="responsive">
                                                        </a>
                                                    </div>
                                                    <div class="ant-space-item">
                                                        @*<a href="https://www.tiktok.com/thefaceshopvietnam"
                                                            target="_blank" rel="noreferrer">*@
                                                        <img alt="TheFaceShop" loading="lazy" height="25px"
                                                             width="25px" class="footer-social__img"
                                                             src="https://image.hsv-tech.io/0x60/tfs/common/c488be8a-adee-4021-926c-8df7127eafa9.webp"
                                                             layout="responsive">
                                                        @*</a>*@
                                                    </div>
                                                </div>
                                                <div class="column d-flex">
                                                    <div class="footer__section-title">PHƯƠNG THỨC THANH TOÁN</div>
                                                    <div class="ant-space ant-space-horizontal ant-space-align-center"
                                                         style="flex-wrap: wrap; gap: 15px;">
                                                        <div class="ant-space-item" style="">
                                                            <img alt="payment-1" loading="lazy"
                                                                 src="https://image.hsv-tech.io/0x60/bbx/common/987574ff-3d3e-4da5-bd93-414c6b0b9b8e.webp"
                                                                 height="24px" width="44px" layout="responsive">
                                                        </div>
                                                        <div class="ant-space-item" style="">
                                                            <img alt="payment-2" loading="lazy"
                                                                 src="https://image.hsv-tech.io/0x60/bbx/common/54b8657b-9fd1-4567-a8e9-499d6692a883.webp"
                                                                 height="24px" width="44px" layout="responsive">
                                                        </div>
                                                        <div class="ant-space-item" style="">
                                                            <img alt="payment-3" loading="lazy"
                                                                 src="https://image.hsv-tech.io/0x60/bbx/common/bd9604bc-e83a-49b5-aef6-6ec855008d89.webp"
                                                                 height="24px" width="44px" layout="responsive">
                                                        </div>
                                                        <div class="ant-space-item" style="">
                                                            <img alt="payment-4" loading="lazy"
                                                                 src="https://image.hsv-tech.io/0x60/bbx/common/24d9a83d-8311-4230-b969-e9f98c185104.webp"
                                                                 height="24px" width="44px" layout="responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-16 ant-col-lg-16"
                                                 style="padding-left: 12px; padding-right: 12px;">
                                                <div class="ant-row"
                                                     style="margin-left: -15px; margin-right: -15px; row-gap: 44px;">
                                                    <div class="ant-col ant-col-xs-12 ant-col-sm-12 ant-col-md-8"
                                                         style="padding-left: 15px; padding-right: 15px;">
                                                        <div class="section-title">VỀ CHÚNG TÔI</div>
                                                        <div class="ant-space ant-space-vertical menu-space-item mt-15"
                                                             style="gap: 12px;">
                                                            <div class="ant-space-item" style="">
                                                                <a role="presentation"
                                                                   href="/help-center/questions/46"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Câu chuyện thương
                                                                        hiệu
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="ant-space-item">
                                                                <a role="presentation"
                                                                   href="/help-center" style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Liên hệ chúng
                                                                        tôi
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ant-col ant-col-xs-12 ant-col-sm-12 ant-col-md-8"
                                                         style="padding-left: 15px; padding-right: 15px;">
                                                        <div class="section-title">CHĂM SÓC KHÁCH HÀNG</div>
                                                        <div class="ant-space ant-space-vertical menu-space-item mt-15"
                                                             style="gap: 12px;">
                                                            <div class="ant-space-item" style="">
                                                                <a role="presentation"
                                                                   href="/help-center/questions/1000729677"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Đăng kí tài khoản
                                                                        thành viên
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="ant-space-item" style="">
                                                                <a role="presentation"
                                                                   href="/help-center/questions/49"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Hướng dẫn mua hàng
                                                                        online
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="ant-space-item" style="">
                                                                <a role="presentation"
                                                                   href="/help-center/questions/47"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Quyền lợi thành
                                                                        viên
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="ant-space-item" style="">
                                                                <a role="presentation"
                                                                   href="/help-center/questions/42"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Giao hàng và thanh
                                                                        toán
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="ant-space-item" style="">
                                                                <a role="presentation"
                                                                   href="/miscellaneous/refund-policy"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Chính sách đổi
                                                                        hàng
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="ant-space-item">
                                                                <a role="presentation"
                                                                   href="/help-center/questions/1000729675"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Điều khoản mua bán
                                                                        hàng hóa
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ant-col ant-col-xs-12 ant-col-sm-12 ant-col-md-8"
                                                         style="padding-left: 15px; padding-right: 15px;">
                                                        <div class="section-title">Đối tác - Liên kết</div>
                                                        <div class="ant-space ant-space-vertical menu-space-item mt-15"
                                                             style="gap: 12px;">
                                                            <div class="ant-space-item">
                                                                <a role="presentation"
                                                                   href="https://beautybox.com.vn/"
                                                                   style="color: initial;">
                                                                    <span class="pointer size-m link">
                                                                        Beauty
                                                                        Box
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-bottom">
                                    <div class="wrapper-container flex-wrap flex-center-between size-m content-footer-wrapper">
                                        <div class="ant-divider ant-divider-horizontal" role="separator"></div>
                                        <div class="footer-desc">
                                            <span class="size-m">
                                                ® thefaceshop.com.vn thuộc quyền
                                                sở hữu của Công ty Cổ Phần Hoa Sen Việt GPKD số 0303565753 cấp ngày
                                                24/09/2004 tại Sở Kế hoạch &amp; Đầu tư TP HCM | VP Miền Nam Lầu 1, G
                                                Tower 3 - 196A, Nguyễn Văn Hưởng, Phường Thảo Điền, Thành Phố Thủ Đức,
                                                TP.HCM--- Chi nhánh Công ty CP Hoa Sen Việt tại Hà Nội GPKD chi nhánh số
                                                0303565753-008 cấp ngày 12/10/2011 | Tòa nhà Lidaco, 19 Đại Từ, Phường
                                                Đại Kim, Quận Hoàng Mai, TP. Hà Nội.
                                            </span>
                                        </div>
                                        <div class="ant-space ant-space-horizontal ant-space-align-center footer-right"
                                             style="gap: 30px 60px;">
                                            <div class="ant-space-item" style="">
                                                <div>
                                                    <div class="ant-space ant-space-horizontal ant-space-align-center"
                                                         style="flex-wrap: wrap; gap: 20px;">
                                                        <div class="ant-space-item" style="">
                                                            <a href="http://online.gov.vn/Home/WebDetails/19874"
                                                               target="_blank" rel="noreferrer">
                                                                <img loading="lazy"
                                                                     src="/images/verified.png" width="133px"
                                                                     height="50px" alt="verified">
                                                            </a>
                                                        </div>
                                                        <div class="ant-space-item" style="">
                                                            <a href="#" target="_blank"
                                                               rel="noreferrer">
                                                                <img loading="lazy"
                                                                     src="/images/verified-dmca.png" height="50px"
                                                                     width="100px" alt="verified">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-space-item">
                                                <div class="flex-center"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    @RenderSection("script", required: false)
</body>
</html>
