@model List<TheFaceShop.Models.SANPHAM>


<div class="d-desktop input-wrapper">
        <div class="sc-fcb373ec-4 bQKRra ant-dropdown-trigger d-flex">
            <span class="ant-input-affix-wrapper sc-fcb373ec-0 eWONFM" style="width: 1500px; left: -150px;">
                <span class="ant-input-prefix">
                    <i class="fal fa-search" style="color: #858585;"></i>
                </span>
                <input class="ant-input" placeholder="Mặt nạ, kem chống nắng, kem dưỡng, son thỏi, sữa rửa mặt,..." type="text" value="" style="border: solid 1px gray; height: 35px; padding-left: 10px; padding-right: 10px; top: -5px;">
                <span class=" ant-input-suffix">
                    <div class="sc-17e56e44-0 cRZrSE search-image-btn ">
                        <button type="button" class="ant-btn ant-btn-text btn-image btn-text-hover">
                            <img src="https://thefaceshop.com.vn/images/scan-image.gif" alt="scan" width="30px" height="30px" loading="lazy" class="search-image-btn__lottie">
                        </button>
                    </div>
                </span>
            </span>
        </div>
</div>

<script>
    document.getElementById("searchInput").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            search();
        }
    });

    document.getElementById("searchButton").addEventListener("click", function() {
        search();
    });

    function search() {
        var searchTerm = document.getElementById("searchInput").value;
        // Chuyển hướng đến trang tìm kiếm với từ khóa đã nhập
        window.location.href = "@Url.Action("Search", "Product")?searchTerm=" + searchTerm;
    }
</script>